.custom-button {
  position: absolute;
  bottom: 30%;
  padding: 1.5rem 5rem;
  border-radius: 0;
  cursor: pointer;
  background-color: rgba(#f1f5f9, 0.9);
  border: 1px solid #334155;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.7);

  transition: all 100ms ease-in;

  &:hover {
    background-color: rgba(#334155, 0.9);
    color: #f1f5f9;
  }
}
