.shop-page {
  width: 90%;
  margin: 0 auto;
  padding-top: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  #searchBtn {
    width: 100%;
    border: 1px solid #334155;
    padding: 1.2rem 3rem;
    font-size: 1.6rem;
  }
}
