$base-color: #334155;

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0% 10%;
}

.header {
  font-weight: 600;
  color: $base-color;
  font-size: 1.8rem;
  width: 30%;
}

.group {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    font-size: 1.6rem;
    font-weight: 300;
  }

  a:not(:last-child) {
    margin-right: 30px;
  }
}
